<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Details Upload</title>
</head>
<body>
  <h2>Upload Food Details</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">  <!-- multipart/form-data is important for sending any type of files like video,images -->
    <label for="name">Food Name:</label>
    <input type="text" id="name" name="name" required>
    
    <br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" required></textarea>
    
    <br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required>
    
    <br>

    <label for="image">Upload Image:</label>
    <input type="file" id="image" name="image" accept="image/*" required>
    
    <br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
